# backend
# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bataknese
DB_USER=postgres
DB_PASSWORD=_1998Ace

# JWT Configuration
JWT_SECRET=31160a7f5a8899e1b18cb7a276969472ae5e2120edd1703fd25c12bbb661cf59
JWT_EXPIRE=7d

# File Upload Configuration
UPLOAD_PATH=uploads
MAX_FILE_SIZE=5242880

# CORS Configuration
CLIENT_URL=http://localhost:3000
